{% extends 'padre.html' %}

{% block titulo %}
    Inicio
{% endblock %}

{% block contenido %}

<h2>{{message}}</h2>

<ul class="list-unstyled">
    <li>
        <h1 class="display-4">Bienvenidos a la Tienda!</h1>
    </li>
      <ul>
        <li>
            <h3 class="font-weight-normal">En Contactos encontraran nuestra informacion en caso de consultas, valoraciones o quejas.</h3>
        </li>
        <li>
            <h3 class="font-weight-normal">En Prendas y Accesorios podran encontrar las distintos articulos.</h3>
        </li>
        <li>
            <h3 class="font-weight-normal">En Crear Prenda y Crear Accesorio, podra cargar el articulo que decida comprar.</h3>
        </li>
        <li>
            <h3 class="font-weight-normal">En Crear Pedido, podra cargar sus preferencias para una prenda a medida.</h3>
        </li>
      </ul>
    </li>
</ul>

{% endblock %}