{% extends 'padre.html' %}

{% block titulo %}
    Sobre Nosotros
{% endblock %}

{% block contenido %}

<h1 class="font-weight-normal">
    Sobre mi
</h1>
<h4 class="font-weight-light">
    Hola! Mi nombre es Agustina Landi. Soy de Buenos Aires y tengo 20 años. Actualmente estoy estudiando la carrera de
    Licenciatura en Sistemas de la Universidad de Buenos Aires. Decidi empezar el curso de Python en Coderhouse para poder
    perfeccionar mis habilidades en cuanto a la programacion y conocer herramientas nuevas.
</h4>

<h1 class="font-weight-normal">
    Sobre la Tienda
</h1>
<h4 class="font-weight-light">
    Decidi crear una pagina web que simula ser una tienda virtual, en la que se pueden encontrar accesorios y distintos
    tipos de ropa. Uno puede crear su prenda a medida o simplemente cargar el articulo que desee "comprar".
</h4>


<ul class="list-unstyled">
    <li>
        <h1 class="font-weight-normal">Informacion de Contacto</h1>
    </li>
      <ul>
        <li>
            <h4 class="font-weight-light">Mail: tienda@gmail.com</h4>
        </li>
        <li>
            <h4 class="font-weight-light">Telefono: +5491134567387</h4>
        </li>
        <li>
            <h4 class="font-weight-light">Direccion: Calle 123</h4>
        </li>
      </ul>
    </li>
</ul>


{% endblock %}