{% extends 'padre.html' %}

{% block titulo %}
    Pedidos
{% endblock %}

{% block contenido %}

    <div class="d-flex" style="margin-top:5rem; margin-left:7rem">
        {% for pedido in object_list %}
            <div class="card" style="width: 18rem;">
                {% if pedido.imagen_pedido %}
                <img src="{{pedido.imagen_pedido.url}}" class="w-90 p-3" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{pedido.prenda}}</h5>
                    <p class="card-text">Talle: {{pedido.talle}}</p>
                    <p class="card-text">Color: {{pedido.color}}</p>
                    <p class="card-text">
                        La prenda es estampada: {{pedido.tiene_estampado}}
                    </p>
                    <p class="card-text">Fecha del pedido: {{pedido.fecha_pedido}}</p>
                    <a href="/ropa/detalle_pedido/{{pedido.id}}/" class="btn btn-primary">Ver mas</a>
                </div>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}