{% extends 'padre.html' %}

{% block titulo %}
    Prendas
{% endblock %}

{% block contenido %}

{{message}}

    <div class="d-flex" style="margin-top:5rem; margin-left:7rem">
        {% for prenda in object_list %}
            <div class="card" style="width: 18rem;">
                {% if prenda.imagen_prenda %}
                <img src="{{prenda.imagen_prenda.url}}" class="w-90 p-3", alt="..." >
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{prenda.nombre}}</h5>
                    <p class="card-text">Color: {{prenda.color}}</p>
                    <p class="card-text">Tipo de tela: {{prenda.tipo_tela}}</p>
                    <p class="card-text">
                        La prenda es de la temporada actual: {{prenda.es_temporada_actual}}
                    </p>
                    <p class="card-text">Precio: ${{prenda.precio}}</p>
                    <a href="/ropa/detalle_prenda/{{prenda.id}}/" class="btn btn-primary">Ver mas</a>
                </div>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}